:root{
    --primary-color: #333;
    --secondary-color: #ddd;
  
}
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background: url('https://cdn2.unrealengine.com/darth-vader-fortnite-1920x1080-95ea0f1d91f3.jpg');
  color: white;
  font-size: 2.5rem;
  font-family: "fortnite";
  height: 450px;

@font-face {
    font-family: fortnite;
    src("./Burbank_Big_Condensed_Black.otf") format("opentype")
}

}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  position: sticky;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.switch-theme{
    border: none;
    position: fixed;
    top: 10px;
    right: 10px;
}
.switch-theme{

    &:hover{
        scale:1.1;
        cursor:pointer;

    }
}

/* Change color on hover */
.navbar a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}



/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: var(--secondary-color);
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: var(--secondary-color);
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  height: 300px;
  padding: 20px;
  background-size:cover
}

/* Footer */
.footer {
  font-size: small;  
  padding: 70px;
  text-align: center;
  color:white;
  background: #333;
}

section > *{
    color: var(--primary-color)
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: var(--background-color-dark);
    color: var(--primary-color-dark);
  }
}